<html>
	<head>
		<link href = "css/bootstrap.css" rel="stylesheet">
		<link href = "css/bootstrap-theme.css" rel = "stylesheet">
		<link href = "css/hci-friends.css" rel = "stylesheet">
		<link href = "css/bootstrap-twitter.css" rel = "stylesheet">
		<link href = "css/metro-bootstrap.css" rel = "stylesheet">
		<link href = "css/style.css" rel = "stylesheet">
	<!--=======-->
		<script src = "js/jquery-2.1.0.min.js"></script>
		<script src = "js/bootstrap.min.js"></script>
		<script src = "js/jquery-ui-1.10.4.custom.min.js"></script>
		<link href = "css/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
		<link href = "css/bootstrap.css" rel="stylesheet">
		<link href = "css/bootstrap-theme.css" rel = "stylesheet">
		</head>
		<div class="col-xs-6 col-md-4">
			<a href="index" rel = 'tab' style = "text-decoration:none; width:100%;" class="thumbnail tile tile-teal">
				<h1>Home</h1>
			</a>
		</div>
		<div class="col-xs-3 col-md-4">
				<a href="contactus" style = "text-decoration:none; width:100%;" class="thumbnail tile tile-yellow" >
					<h1>Contact Us</h1>
				</a>
		</div>
		</div>
		<body style = "float:left">
			<p>The CSE Labs Weather App is designed to help you know what the current conditions in the labs are. There are currently two metrics, crowdedness and stank. Crowdedness at level 0 indicates there is nobody in the lab. At 10, the lab is completely full. Stank at 0 indicates it smells good, at 10 the smell alone will cause a gag reflex. 
		</body>


</html>