<!doctype html>

<html>
<head>
	<title>About US</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href = "css/bootstrap-twitter.css" rel = "stylesheet">
	<link href = "css/metro-bootstrap.css" rel = "stylesheet">
	<link href = "css/style.css" rel = "stylesheet">
	<script src = "js/jquery-2.1.0.min.js"></script>
	<script src = "../js/bootstrap.min.js"></script>
	<script src = "routes/index.js"></script>
<script>
	jQuery(document).ready(function($) 
	{
      $(".clickableRow").click(function() 
      {
      	var name = $(this).attr("id");
		window.document.location = $(this).attr("href");
      	//var name = $(this).attr("id");
      	//$("#reload").load("labs.html");
      });
	});
</script>
</head>

<body style = "overflow-x: hidden; overflow-y: scroll;">
	<div>	
	<div class="col-xs-6 col-md-4">
		<a href="index" rel = 'tab' style = "text-decoration:none; width:100%; height:50%;" class="thumbnail tile tile-silver">

			<h1>Home</h1>
		</a>
	</div>
	<div class="col-xs-6 col-md-4">
			<a href="contactus" style = "text-decoration:none; width:100%; height:50%" class="thumbnail tile tile-silver" >
				<h1>About</h1>
			</a>
	</div>
	</div>
				<h4 style = "margin-left:5%; margin-right:5%;">
					The CSE Lab Weather app is designed to help you 
					know the current conditions of the labs so that you can make the best possible decision for the 
					best possible work environment. There are currently two metrics:
				</h4>
				<h4 style = "margin-left:5%; margin-right:5%;">
					Fullness indicates how full the lab is. 0% is empty, 100% is full.
				</h4>
				<h4 style = "margin-left:5%; margin-right:5%;">
					Stench indicates how clean or pleasant the lab is. 0% is clean, 100% is disgusting.
				</h4>
				<br>
				<br>
			<h4 style = "margin-left:5%; margin-right:5%;"> <strong>Team Members</strong>
				<br>
				<ul>
					<br><li>Ryan Yu</li><br>
					<li>Eric Lowe</li><br>
					<li>Luke Kim</li>
				</ul>
			</h4>
			<br>
	<hr>
	<p class="text-center">
    &copy; 2014, //TODO -- CSE 170
	</p>

</body>
</html>
