<!doctype html>

<html>
<head>
	<title>About US</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href = "css/bootstrap-twitter.css" rel = "stylesheet">
	<link href = "css/metro-bootstrap.css" rel = "stylesheet">
	<link href = "css/style.css" rel = "stylesheet">
	<script src = "js/jquery-2.1.0.min.js"></script>
	<script src = "../js/bootstrap.min.js"></script>
	<script src = "routes/index.js"></script>
<script>
	jQuery(document).ready(function($) 
	{
      $(".clickableRow").click(function() 
      {
      	var name = $(this).attr("id");
		window.document.location = $(this).attr("href");
      	//var name = $(this).attr("id");
      	//$("#reload").load("labs.html");
      });
	});
</script>
</head>

<body style = "overflow-x: hidden; overflow-y: scroll;">
	<div>	
	<div class="col-xs-6 col-md-4">
		<a href="index" rel = 'tab' style = "text-decoration:none; width:100%; height:50%;" class="thumbnail tile tile-teal">

			<h1>Home</h1>
		</a>
	</div>
	<div class="col-xs-6 col-md-4">
			<a href="contactus" style = "text-decoration:none; width:100%; height:50%" class="thumbnail tile tile-yellow" >
				<h1>About</h1>
			</a>
	</div>
	</div>
				<p style = "margin-left:5%; margin-right:5%;">The CSE Labs Weather App is designed to help you 
			know what the current conditions in the labs are. There are currently two metrics, 
			crowdedness and stank. Crowdedness at level 0 indicates there is nobody in the lab. 
			At 10, the lab is completely full. Stank at 0 indicates it smells good, at 10 the s
			mell alone will cause a gag reflex. </p>
			<h1 style = "margin-left:5%; margin-right:5%;"> <strong>Team Members</strong>
			<br>
			<ul>
				<br><li>Ryan Yu</li><br>
				<li>Eric Lowe</li><br>
				<li>Luke Kim</li>
			</ul></h1>
			<br>
	<hr>
	<p class="text-center">
    &copy; 2014, //TODO -- CSE 170
	</p>

</body>
</html>
