<!doctype html>

<html>
<head>
	<title>{{room}} View</title>
	<meta charset="utf-8">
	<link href = "../css/metro-bootstrap.css" rel = "stylesheet">
	<link href = "../css/style.css" rel = "stylesheet">
	<script type="text/javascript" src="../js/data.json"></script>
	<script>
	function load() 
	{
	var mydata = JSON.parse(projects);
	alert(mydata[0].name);
	alert(mydata[0].id);
	}
</script>
</head>

<body>
	<h1 style = "text-align:center; margin-top:0%;">{{room}}</h1>
	<div>	
	<div class="col-xs-6 col-md-4">
		<a href="../index" rel = 'tab' style = "text-decoration:none; width:100%; height:50%;" class="thumbnail tile tile-teal">

			<h1>Home</h1>
		</a>
	</div>
	<div class="col-xs-6 col-md-4">
			<a href="../contactus" style = "text-decoration:none; width:100%; height:50%" class="thumbnail tile tile-yellow" >
				<h1>About</h1>
			</a>
	</div>
	</div>
	
	<div class="table-responsive">
  	<table class="table">
			<tr>
				<td style = "color:green; float:left; width:50%;">Current Stank: {{stank}}%</td>
				<td style = "color:red;float:left; width:50%;">Current Crowd: {{crowd}}%</td>
			</tr>
			<tr>
				<td style = "float:left;">
				<button class = "btn btn-warning reportProblem" 
					data-toggle="modal" data-target="#myModal" style = "align:left;">
					Update Lab Conditions</button>
				</td>
			</tr>
    		<tr >
                <td>
                <p>Person1 at 7:52pm</p>
                <p style = "color:red;">Someone threw stuff in the trash!</p>
				</td>
       		</tr>
       		 <tr >
                <td>Peter at 8:15pm
                <br>
                <p style = "color:red;">Tutors are here! :D</p>
				</td>
       		</tr>
       		 <tr >
                <td>Poe at 11:31pm
                <br>
                <p style = "color:red;">The programming assignment got extended!</p>
				</td>
       		</tr>
  	</table>
	</div>

	<hr>
	<p class="text-center">
    &copy; 2013, //TODO -- CSE 170
	</p>
	
    <div class="modal fade container" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    	style = " height:100%;">
		    <div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        	<h1 class="modal-title" id="myModalLabel">Report a Problem</h1>
		      	</div>
		      	<div class="modal-body">
		      		<div class="alert alert-danger" id="noRoom"style="display:none">No Room Selected</div>
			        <form class="form-horizontal" role="form">
					  	<div class="form-group">
					    	<label class="sr-only" for="exampleInputEmail2">Email address</label>
					    	<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Name">
					  	</div>
						<p>
							<label for="stank">Stank</label>
							<input type="text" id="stank" style="border:2; color:green; font-weight:bold; width:10%;">/100
						</p>						 
						<div id="slider-range-min"></div>
						<p>
							<label for="crowd">Crowdedness</label>
							<input type="text" id="crowd" style="border:2; color:red; font-weight:bold; width:10%;">/100
						</p>						 
						<div id="slider-range-min2"></div>
					  	<div class="checkbox">
						    <label>
						      <input type="checkbox"> Strong food Smell
						    </label>
					  	</div>
					  	<div class="checkbox">
						    <label>
						      <input type="checkbox"> Smells like Sweat/B.O.
						    </label>
					  	</div>
					  	<div class="checkbox">
						    <label>
						      <input type="checkbox"> <input placeholder="other"type="text" class="form-control">
						    </label>
					  	</div>
					</form>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        	<button type="button" class="btn btn-primary submitProblem" data-dismiss="modal" >Submit</button>
		      	</div>
		  </div>
	</div>
	<script src = "../js/jquery-2.1.0.min.js"></script>
	<script src = "../js/bootstrap.min.js"></script>

</body>
</html>
