<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<<<<<<< HEAD -->
	<link href = "css/bootstrap.css" rel="stylesheet">
	<link href = "css/bootstrap-theme.css" rel = "stylesheet">
	<link href = "css/hci-friends.css" rel = "stylesheet">
	<link href = "css/bootstrap-twitter.css" rel = "stylesheet">
	<link href = "css/metro-bootstrap.css" rel = "stylesheet">
	<link href = "css/style.css" rel = "stylesheet">
<!--=======-->
	<script src = "js/jquery-2.1.0.min.js"></script>
	<script src = "js/bootstrap.min.js"></script>
	<script src = "js/jquery-ui-1.10.4.custom.min.js"></script>
	<link href = "css/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
	<link href = "css/bootstrap.css" rel="stylesheet">
	<link href = "css/bootstrap-theme.css" rel = "stylesheet">
	<!--<link href = "css/hci-friends.css" rel = "stylesheet">-->
	<!--<link href = "css/bootstrap-twitter.css" rel = "stylesheet">-->
<!-- >>>>>>> ca8d342164c4063e186f80a8ddebcbc8a1f39e1b -->
	
	<!-- AJAX JQuery Method -->
</head>

<body style = "overflow-x: hidden; overflow-y: scroll;">
	<br>
	<br>
	<div>
	<div class="col-xs-6 col-md-4">
		<a href="index" rel = 'tab' style = "text-decoration:none; width:100%;" class="thumbnail tile tile-teal">
			<h1>Home</h1>
		</a>
	</div>
	<div class="col-xs-6 col-md-4">
			<a href="contactus" style = "text-decoration:none; width:100%;" class="thumbnail tile tile-yellow" >
				<h1>Contact Us</h1>
			</a>
	</div>
	</div>
	<div id="lab">
	<script>
		document.write('<h1>' + name + '</h1>');
	</script>
	</div>
<div id = "reload">
	<div class="table-responsive">
  	<table class="table">
		<tbody rowspan="2">
			<tr style = "color:green; float:left">
				<td>Current Stank: 70</td>
			</tr>
			<tr style = "color:red;float:left">
				<td>Current Crowd: 69</td>
			</tr>
    		<tr >
                <td>Anonymous at 7:20pm
                <br>
                <p style = "color:red;">Someone threw stuff in the trash!</p>
				</td>
       		</tr>
       		<tr >
                <td>Peter at 6:00pm
                <br>
                <p style = "color:red;">Tutors are here!! :D</p>
            </tr>
			</tr>
       		<tr >
                <td>O at 9pm
            	<br>
            	<p style = "color:red;">Program deadline got extended! whooooo! </p>
            </td>
			</tr>
		</tbody>
  	</table>
	</div>
</div>

<div class = "container" style = "margin-left:5px;">
    <button class = "btn btn-danger reportProblem" data-toggle="modal" data-target="#myModal">Report a Problem</button>

    </div>
    <div class="modal fade container" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    	style = " width:100%; height:100%;">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        	<h4 class="modal-title" id="myModalLabel">Report a Problem</h4>
		      	</div>
		      	<div class="modal-body">
		      		<div class="alert alert-danger" id="noRoom"style="display:none">No Room Selected</div>
			        <form class="form-horizontal" role="form">
					  	<div class="form-group">
					    	<label class="sr-only" for="exampleInputEmail2">Email address</label>
					    	<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Name">
					  	</div>
						<p>
							<label for="stank">Stank</label>
							<input type="text" id="stank" style="border:0; color:green; font-weight:bold;">/100
						</p>						 
						<div id="slider-range-min"></div>
						<p>
							<label for="crowd">Crowdedness</label>
							<input type="text" id="crowd" style="border:0; color:red; font-weight:bold;">/100
						</p>						 
						<div id="slider-range-min2"></div>
					  	<div class="checkbox">
						    <label>
						      <input type="checkbox"> Strong food Smell
						    </label>
					  	</div>
					  	<div class="checkbox">
						    <label>
						      <input type="checkbox"> Smells like Sweat/B.O.
						    </label>
					  	</div>
					    <div class="input-group">
						    <span class="input-group-addon">
						        <input type="checkbox">
						    </span>
					      	<input placeholder="other"type="text" class="form-control">
					    </div><!-- /input-group -->
					</form>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        	<button type="button" class="btn btn-primary submitProblem" data-dismiss="modal" >Submit</button>
		      	</div>
		    </div>
		  </div>
	</div>


	<script type="ajax.js" src="js.js"></script>
<!--<<<<<<< HEAD-->
	<script src = "js/jquery-1.11.0.js"></script>
	<script src = "js/ajax.js"></script>

<!-- =======-->
<!-- >>>>>>> ca8d342164c4063e186f80a8ddebcbc8a1f39e1b-->
	<script type="text/javascript" src="js.js"></script>
	<script type="text/javascript" src="">
	</script>
	<hr>
	<p class="text-center">
    &copy; 2013, //TODO -- CSE 170
	</p>

</body>
</html>
