<!doctype html>

<html>
<head>
	<title>{{room}} View</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href = "../css/bootstrap.css" rel = "stylesheet">
	<link href = "../css/metro-bootstrap.css" rel = "stylesheet">
	<link href = "../css/style.css" rel = "stylesheet">
	<script type="text/javascript" src="../js/data.json"></script>
	
	<script>
function saveData()
{
var data = JSON.parse("data.json");  //parse the JSON
data.projects.push(		{
			"name": "B220",
			"description": [
				{"person":"Anonymous at 6:02pm", "detail": "assignment got extended! :)"},
				{"person":"Peter at 8pm", "detail":"tutors are here!"}
			],
			"id": "B220",
			"stank":"50",
			"crowd":"30"	
		});
txt = JSON.stringify(data);  //reserialize to JSON
}
</script>
</head>

<body>
  <div data-role="header" class="jqm-header ui-header ui-bar-f ui-header-fixed 
  	slidedown" data-theme="a" data-position="fixed" role="banner ">
   	<h1 class="ui-title" role="heading" aria-level="1"><strong>Lab Weather</strong></h1>
    <a href="#" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-notext">Home Icon</a>
    <a href="contactus" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-notext">Info Icon</a>
  </div>
	<h1 style = "text-align:center; margin-top:0%;">{{room}}</h1>

	
	<form class="form-horizontal" role="form" style = "margin-left:5%; margin-right:5%;">
	  	<div class="form-group">
	    	<label class="sr-only" for="exampleInputEmail2">Email address</label>
	    	<input type="email" class="form-control" id="name" placeholder="Name">
	  	</div>
		<p>
			<label for="stank">Stench:</label>
			<input type="text" id="stank" style="border:2; color:green; font-weight:bold; width:30%;"> %
		</p>						 
		<div id="slider-range-min"></div>
		<p>
			<label for="crowd">Fullness:</label>
			<input type="text" id="crowd" style="border:2; color:red; font-weight:bold; width:30%;"> %
		</p>						 
		<div id="slider-range-min2"></div>
	  	<div class="checkbox">
		    <label>
		      <input type="checkbox"> Smells like food/rotting odor
		    </label>
	  	</div>
	  	<br>
	  	<div class="checkbox">
		    <label>
		      <input type="checkbox"> Smells like sweat/body odor
		    </label>
	  	</div>
	  	<div class="checkbox">
		    <label>
		      <input type="checkbox"> <input placeholder="Some other issue?" type="text" class="form-control">
		    </label>
	  	</div>
	</form>
	</div>
	<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" onclick = "history.go(-1);">Cancel</button>
	<button type="button" class="btn btn-primary submitProblem" data-dismiss="modal" id = "saveData" onclick = "history.go(-1);">Submit</button>
	</div>
	<script>
	$(document).ready(function() 
	{
		$(.submitProblem).on('click', function(e)
		{
			ga("send", "event", "submit", "click");
		});
		})
	});
	</script>
	<script src = "../js/jquery-2.1.0.min.js"></script>
	<script src = "../js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  //ga('create', 'UA-48437362-2', 'none');
  ga('create', 'UA-48437362-2', 'todocse170.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>
